html{
	height: 100%;
}

body{
	position: relative;
	background-image: url("/imgs/bgDistort.png");
	height: 100%;
	width: 100%;
}

#content-banner{
	background-image: url("/imgs/bgDistort.png");
	width: 100%;
	min-width: 1000px;
}