html{
    height: inherit;
    width: inherit;
    margin-bottom:0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
body{
	background-color:#D60036;
	margin:0 0;
    height: 100%;
    width: inherit;
}
.main-container{
    position: relative;
    height: inherit;
    width: inherit;
    overflow: hidden;
}
#top-menu-bar{
    position: fixed;
    top: 0px;
	min-width: 100%;
	padding: 0 0 0 0;
    overflow-y: hidden;
	height: 55px;
    background-color: #FFF;
}
.hexButtons{
    z-index:1000;
    min-width:25%;
    max-width: 300px;
    height:100%;
    float: left;
    padding-left:8px;
    position: fixed;
}
.hex {
  cursor: pointer;
  fill: #ffffff;
  fill-opacity: 1;
}
#hex0{
    float:left;
    margin-top: 150px;
}
#hex1{
    position: absolute;
    float:left;
    margin-top:240px;
    margin-left:-35px;
}
#hex2{
    float:left;
    position:absolute;
    margin-top:320px;
    margin-left:-127px;
}
#hex3{
    float:left;
    position:absolute;
    margin-top:167px;
    margin-left:-16px;
}

#bigHex{
    z-index:-1000;
    position:fixed;
    top:0px;
    float:right;
    height:100%;
    width:100%;
    fill-opacity: 1;
}
.hex:hover {
  fill-opacity: 1;
  transform: scale(0.93);
  -webkit-transform: scale(0.93);
}
.hex {
  transition: transform, fill-opacity, stroke-width;
  -webkit-transition: transform, fill-opacity, stroke-width;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.content{
    position:absolute;
    top:55px;
    right:0px;
    bottom:0px;
    float: right;
    height:100%;
    min-width:60%;
}
.data{
    margin-left:300px;
    height:100%;
    float:left;
    width:100%;
    margin-bottom:0px;
}
.background{
    z-index:-1000;
    float:right;
    position:fixed;
    margin-top:50px;
    height:100%;
    overflow:hidden;
}