html{
    height: 650px; 
    margin-bottom:0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
body{
	background-image: none;
	margin:0 0;

	width: 100%;
}

.main-container{
	z-index:10;
    position: relative;
    height: inherit;
    overflow: hidden;
}

#banner{
	background-image: url('imgs/bgDistort.png');
    padding-top: 50px;
	margin:0 0 0 0;
	width: 100%;
	min-width: 1000px;
	height: 650px;
}

#top-menu-bar{
    position: fixed;
    top: 0px;
    z-index: 1000;
	min-width: 100%;
	padding: 0 0 0 0;
    overflow-y: hidden;
	height: 50px;
    background-color: #FFF;
}

.leftColumn, .hexButtons{
    min-width: 20%;
    float: left;
    padding-left:8px;
    position: absolute;
    z-index: 10;
    top:100px;
}

#hexButton0{
    height: 170px;
}
#hexButton1{
    position: relative;
    top: -3px;
    padding-left: 57px;
    height: 120px;   
}
#hexButton2{
    position: relative;
    top: -215px;
    padding-left: 155px;
    height: 148px;   
}
#hexButton3{
    position: relative;
    top: -438px;
    padding-left: 176px;
    height: 68px;   
}
#foreground{
    position: absolute;
    padding-left:310px;
    top:50px;
    width: 100%;
}